@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@layer base {
  .input-style {
    @apply w-full px-4 py-2 border border-quatanery rounded-sm focus:outline-none focus:ring-2 focus:ring-primary;
  }
}

@theme {
  ---font-inter: "Inter", "serif";
  --color-primary: #234467;
  --color-secondary: #3b3b3b;
  --color-quatanery: #c4c4c4;
}
